.container {
    border: 1px solid black;
    border-radius: 30px 30px 0 0;
    margin-top: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0px 30px 0 30px;
    line-height: 10px;

}

.header h1 {
    margin-left: -300px;
}

.header img {
    height: 45px;
    width: 70px;
    margin-left: -20px;
}

.purplehead {
    color: rgb(127, 10, 236);
}

.navbar {
    background-color: rgb(7, 7, 155);
    text-align: end;
    height: 20px;
    padding-top: 5px;
    /* display: flex;
    justify-content: flex-end; */
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 20px;
    line-height-step: 2px;
}

.sidecontent {
    background-color: rgb(172, 242, 245);
    width: 600px;
    height: 320px;
    margin-right: 20px;
}

.maincontent {
    display: flex;
    justify-content: space-between;

}

.bar {
    background-color: rgb(7, 7, 155);
    width: 350px;
    height: 45px;
    display: flex;
    margin: 15px 0 0 250px;

}

.heading {
    background-color: white;
    height: 25px;
    width: 300px;
    margin: 10px 20px 10px 20px;
    font-weight: bolder;
}

.scrolltext {
    height: 250px;
    overflow: auto;
}

.scrolltext p {
    padding: 0px 10px;
}

.list h4 {
    background-color: rgb(7, 7, 155);
    height: 25px;
    margin-top: 0%;
    color: white;
    margin-bottom: 5px;
}

.list {
    height: 300px;
    line-height: 20px;
}

.listdisplay {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px dashed black;
    line-height: 20px;
    height: 30px;
    padding: 10px 5px;
    align-items: center;
}


.aligncenter5 {
    margin-right: 120px;
}

.aligncenter4 {
    margin-right: -30px;
}

.aligncenter3 {
    margin-right: 30px;
}

.aligncenter2 {
    margin-right: 10px;
}

.listdisplay button {
    border: none;
    color: white;
    background-color: rgb(7, 7, 155);
    width: 80px;
    font-family: inherit;
    font-size: 15px;
    height: 20px;
}

.listcolor {
    color: rgb(7, 7, 155);
}


.footer {
    margin: 10px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20% 0 20px;
    line-height: 50px;
    border: 1px solid black;

}

.foot2 {
    border-left: 1px solid black;
    line-height: 50px;




}

.foot2 a {
    text-decoration: none;
    color: rgb(127, 10, 236);
    padding: 7px;
    font-size: large;


}

.foot3 a {
    text-decoration: none;
    color: black;
    margin-left: 60px;

}

.foot3 {
    font-weight: bold;
    border-left: 1px solid black;


}

.copyright {
    background-color: rgb(7, 7, 155);
    height: 80px;
    margin: 10px 0 0 0;
    text-align: center;
    color: white;
    padding-top: 10px;
}

span {
    background-color: white;
    color: black;
    margin: 0 4px 0 4px;
}